table {
  border: 1px solid blanchedalmond;;
}

th {
  color: teal;
  background-color: silver;
  padding: 5px;
  font-size: smaller;
}


button.delete {
  background-color: crimson;
  color: blanchedalmond;
  padding: 5px;
  border-radius: 8px;
  width: 100px;
}
