
  <!-- <caption>{{title}}</caption> --> <!-- title è il title in users.component.ts -->
<table class="table table-striped table-dark bg-dark table-sm table-small text-center">
  <tr class="bg-black">
    <th>Name</th>
    <th>Last Name</th>
    <th>Fiscal Code</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Prov</th>
    <th>Age</th>

    <th>Actions</th>
  </tr>

  <!-- | è un Pipe.  users è l'array di oggetti e mostra tutti gli oggetti, che in JavaScript vengono mostrati come object Object. Il Pipe serve per mostrare il contenuto di quell'oggetto -->

  <!-- esegue un ciclo con Angular, richiamandolo con *ng, salvando i risultati nella variabile "user", presi dall'array "users" -->
  <tr class="text-center" app-user
    *ngFor = "let item of users"
    [user-data] = "item"
    (onDeleteUser) = "onDeleteUser($event)"
    (onSelectUser) = "onSelectUser($event)" >
    <!-- i decoratori vanno dentro il tag dell'html, esattamente come accade con il .appendchild di javascript -->
    <!-- "item" fa riferimento alla variabile let user del ciclo For, mentre [user-data] è il componente che riceve il valore in Input -->
    <!-- abbiamo passato la variabile item al componente figlio, user.component.html -->

    <!-- $event è una variabile di Angular che catturare i dati passati dal componente figlio -->
    <!-- Quando verrà emesso questo evento dal click Delete, rimarrà in ascolto con un alert di conferma -->
  </tr>

</table>


<!-- con questo comando si vede la lista dell'array users, in formato json, quindi come lista leggibile -->
<!-- <pre> {{users | json }} </pre> -->


