<table>
  <caption>{{title}}</caption> <!-- title è il title in users.component.ts -->
  <tr>
    <th>Name</th>
    <th>Last Name</th>
    <th>Fiscal Code</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Province</th>
    <th>Age</th>

    <th>Actions</th>
  </tr>

  <!-- | è un Pipe.  users è l'array di oggetti e mostra tutti gli oggetti, che in JavaScript vengono mostrati come object Object. Il Pipe serve per mostrare il contenuto di quell'oggetto -->

  <!-- esegue un ciclo con Angular, richiamandolo con *ng, salvando i risultati nella variabile "user", presi dall'array "users" -->
  <tr app-user *ngFor = "let item of users" [user-data] = "item"> <!-- "item" fa riferimento alla variabile let user del ciclo For, mentre [user-data] è il componente che riceve il valore in Input -->
    <!-- abbiamo passato la variabile item al componente figlio, user.component.html -->
  </tr>

<!-- Angular Input: [ ... ] -->
<!-- Angular Event: ( ... ) -->
</table>

<pre> {{users | json }} </pre>


