
  <td>{{item?.name}}</td> <!-- ? è un nullsafe: se l'oggetto è null, non esegue la parte dopo il . -->
    <td>{{item?.last_name}}</td>
    <td>{{item?.fiscal_code}}</td>
    <td>{{item?.email}}</td>
    <td>{{item?.phone}}</td>
    <td>{{item?.province}}</td>
    <td>{{item?.age}}</td>
    <td>
      <div class="row">
        <div class="col-4">
          <a class="btn btn-sm btn-primary btn-sm" (click)="showUserDetail()" > INFO <!-- altro metodo: [routerLink] = "['/users' , item?.id , 'edit']" -->
            <i class="fa fa-info fa-5x"></i>
          </a>
          <!-- <fa-icon [icon]="faInfo" name="info" fixed="true"></fa-icon> -->
        </div>
        <div class="col-4">
          <a class="btn btn-sm btn-primary btn-sm" routerLink = "/users/{{item?.id}}/edit" > EDIT
            <i class="fas fa-pencil-alt"></i>
          </a>

          <!-- <fa-icon [icon]="faPencilAlt" name="pencil" fixed="true"></fa-icon> -->
        </div>
        <div class="col-4">
          <a class="btn btn-sm btn-danger btn-sm" (click)="deleteUser()"> DELETE <!-- Angular riconosce (click) come metodo per catturare l'evento di Click, per poi effettuare l'azione appena dopo -->
            <i class="fa fa-trash fa-5x"></i>
          </a>
          <!-- <fa-icon [icon]="faTrash" name="trash" fixed="true"></fa-icon> -->
        </div>
      </div>
    </td>
