table {
  border: 1px solid blanchedalmond;
}

th, td {
  padding: 5px;
}
th {
  color: teal;
  background-color: silver;
}
td {
  color: purple;
  background-color: slategray;
}

button.delete {
  background-color: crimson;
  color: blanchedalmond;
  padding: 5px;
  border-radius: 8px;
}
