body {
  background-color: rgb(62, 66, 68);
}


.main {
  width: 99%;
  margin:auto;
  vertical-align: top;
}

.users {
  float: left;
  width: 60%;
}

.userDetail {
  float: left;
  width: 30%;
}



.form-group label{
  display: inline-block;
  text-align: left;
  padding: 5px;
  width: 120px;
  }

.form-footer {
  text-align: center;
  padding: 10px;
}

.btn-reset {
  background-color: darkslategray;
  color: blanchedalmond;
  font-weight: bold;
  padding: 5px;
  width: 80px;
  margin-right: 10px;
}

.btn-save {
  background-color: green;
  color: blanchedalmond;
  font-weight: bold;
  padding: 5px;
  width: 80px;
  margin-right: 10px;
}






.spiegazione_eventi {
  font-size: x-small;
  color: black;
  width: 300px;
  margin-top: 100px;
  padding-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 100px;
}

.spiegazione_eventi_form {
  font-size: xx-small;
  height: 15px;
  width: 80px;
  color: purple;
  background-color: blanchedalmond;
}
